<div class="three_list">
  <div class="ui three connected items">
    <div class="item">
      <div class="">
        <h3>公司新品</h3>
        <div class="ui instant masked move reveal">
          <%= image_tag 'a.jpg', class: "visible content", width: "311px", height: "248px" %>
          <%= image_tag 'b.jpg', class: "hidden content", width: "311px", height: "248px" %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="">
        <h3>公司公告</h3>
        <ul class='index_post'>
          <% Post.limit(6).each do |post| %>
            <li><%= link_to post.title, post %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="item">
      <div class="">
        <h3>公司简介</h3>
        <div class="">
          <%= image_tag 'cc.jpg' %>
        </div>
        <p>主营线材电线电缆表面处理设备以及金刚线切割设备，欢迎各界朋友莅临参观、指导和业务洽谈</p>
      </div>
    </div>
  </div>
</div>