// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'semantic-ui';

body {
  margin: 0;
  background: #fff;
  padding: 0;
  font-size: 14px;
}

.content {
  color: #6A6A6A;
  line-height: 22px;
}

dl.contact dt {
  padding-left: 15px;
  float: left;
  margin-right: 10px;
  display: block;
  line-height: 2em;
  width: 100px;
}

.content dd {
  line-height: 2em;
}

p.tips {
  text-indent: 0px;
  font-weight: bold;
  margin-top: 20px;
  font-weight: bold;
  color: red;
}

h3.title {
padding-left: 20px;
line-height: 2em;
margin: 1em auto;
color: #195A95;
letter-spacing: 1px;
border-bottom: 1px dotted #444;
}

.wrap{
  width: 990px;
  margin: 0 auto;
}


.about{
  position: relative;
  // margin-left: 325px;
}

.peek{
  position: absolute;
  left: 0;
}

.cc{
  margin-left: 285px;
  line-height: 22px;
}

.example{
  margin-bottom: 50px;
}

.example .ui.two.items > .item{
  min-height: 230px;
}

.index_post{
  li{
    padding: 5px 0;
  }
}